/* Clase circulo */

div { 
    border: 8px;
    display: inline-block;
    background-color: plum;
    background-height: 50%;

}

.circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid black;
    background: white;
    padding: 10px;
    display: inline;
    margin: 5px;
}

.rojo {
    background-color: red;
    display: inline;


}

.con-sombra {
    box-shadow: 3;
    display: inline;
}

.especial {
    background-color: yellow;
    border: 8px solid orange;
    display: inline;
}

.style {


}






    

