<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor metros - kilometros</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>
<body>
    <div id="computed_props">
        kilometers: <input type="text" v-model="kilometers">
        meters: <input type="text" v-model="meters">

    </div>
    <script>
        var vm= new Vue({
            el: '#computed_prop',
            data:{
                kilometers: "",
                meters:"",
            },
        watch: {
            kilometers: function (val){
                this.kilometers=val;
                this.meters=val * 1000;
            },
            meters: function (val) {
                this.kilometers=val / 1000;
                this.meters=val;
            }
        }
            
        })


    </script>
</body>
</html>