.container {
    border: solid yellow;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 15px;
    align-items: space-around;
    
}

.item {
    border: solid;
    padding:15px;
    background-color: paleturquoise;
    width: 30px;
    margin: 15px;
}

.item1 {
    order: 4;
    flex-shrink: 2;
}

.item2 {
    order: 1;
    flex-grow: 3;

}

.item3 {
    order: 2;
    flex-grow: 2;
}

.item4 {
    flex-shrink: 1;
}