<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Ejercicio Divisas</title>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

</head>

<body>
   <!-- 1- Crea una instancia VUE i saluda al client-->

   <style>
      #databinding {
         padding: 20px 15px 15px 15px;
         margin: 0 0 25px 0;
         width: auto;
         background-color: #e7e7e7;
      }

      span,
      option,
      input {
         font-size: 25px;
      }
   </style>

   <div id="databinding">
      <h1>Benvinguda:</h1>
      <h1>Currency Converter</h1>
      <span>Enter Amount:</span>
      <input type="number" v-model="amount" placeholder="Enter Amount" /><br /><br />
      <span>Convert From:</span>

      <select v-model="convertfrom" style="width:300px;font-size:25px;">
         <option value="from">From</option>

         <option v-for="a in currencyfrom" v-bind:value="a.name">{{a.desc}}</option>
      </select>
      <span>Convert To:</span>
      <select v-model="convertto" style="width:300px;font-size:25px;">
         <option value="to">to</option>
         <option v-for="a in currencyfrom" v-bind:value="a.name">{{a.desc}}</option>
      </select><br /><br />
      <span> {{amount}} {{convertfrom}} equals {{convertto}} {{finalamount}}</span>

   </div>

   <script>
      const app = new Vue({
         el: "#databinding",
         data: {
            mensaje: "Benvinguda",
            currencyfrom: [{
                  name: "USD",
                  desc: "US Dollar"
               },
               {
                  name: "EUR",
                  desc: "Euro"
               },
               {
                  name: "INR",
                  desc: "Indian Rupee"
               },
               {
                  name: "BHD",
                  desc: "Bahraini Dinar"
               }
            ],
            convertfrom: "INR",
            convertto: "EUR",
            amount: 0,
         },


         computed: {
            finalamount: function () {
               var to = this.convertto;
               var from = this.convertfrom;
               var final;

               switch (from) {
                  case "INR":
                     if (to == "USD") {
                        final = this.amount * 0.016;
                     }
                     if (to == "EUR") {
                        final = this.amount * 0.013;
                     }
                     if (to == "INR") {
                        final = this.amount;
                     }
                     if (to == "BHD") {
                        final = this.amount * 0.0059;
                     }
                     break;
                  case "USD":
                     if (to == "USD") {
                        final = this.amount;
                     }
                     if (to == "EUR") {
                        final = this.amount * 0.84;
                     }
                     if (to == "INR") {
                        final = this.amount * 63.88;
                     }
                     if (to == "BHD") {
                        final = this.amount * 0.38;
                     }
                     break;

                  case "EUR":
                     if (to == "USD") {
                        final = this.amount * 1.19;
                     }
                     if (to == "EUR") {
                        final = this.amount;
                     }
                     if (to == "INR") {
                        final = this.amount * 76.22;
                     }
                     if (to == "BHD") {
                        final = this.amount * 0.45;
                     }
                     break;

                  case "BHD":
                     if (to == "USD") {
                        final = this.amount * 1.19;
                     }
                     if (to == "EUR") {
                        final = this.amount;
                     }
                     if (to == "INR") {
                        final = this.amount * 169.44;
                     }
                     if (to == "BHD") {
                        final = this.amount * 0.45;
                     }
                     break;
               }
               return final;
            }
         }

      });
   </script>

</body>

</html>