
* {
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}
    .header {
    
        display: flex;
        flex-flow: column nowrap;

    }

        
        .menu1 {
            display: flex;
            flex-flow: row;
            font-family: Arial, Helvetica, sans-serif;
            font-size:xx-large;
            font-weight: bolder;
            
            
        }  
        

            .cero {
                display: flex;
                width: 100%;
                height: 20%;
                order: 3;
                flex: 1 1 auto;
                order: 3;   

    }

            .uno {
                display: flex;
                flex: 1 1 auto;
                order: 1;
                text-align: center;
                margin-top: 9%;
                order: 1;
                align-self: center;

                
            }
            .dos {
                display: flex;
                flex: 1 1 auto;
                order: 2;
                text-align: center;
                margin-top: 9%;
                order: 2;
                align-self: center;
            }
            .tres {
                display: flex;
                flex: 1 1 auto;
                order: 4;
                text-align: center;
                margin-top: 9%;
                align-self: center;
                 
            }
            .cuatro {
                display: flex;
                flex: 1 1 auto;
                order: 5;
                text-align: center;
                margin-top: 9%;
                align-self: center;
            }

        .video {
                display: flex;
                justify-content: center;
                position: relative;
                padding-bottom: 56.25%; /* 16/9 ratio */
                padding-top: 30px; /* IE6 workaround*/
                height: 0;
                overflow: hidden;
                border: solid black;
        }
        .menu2 {
            display: flex;
            flex-flow: row;
            font-family: Arial, Helvetica, sans-serif;
            font-size:xx-large;
            font-weight: bolder;
            background-image: url(imagenes/https:::trianglify.io:p:w:1440!h:900!x:Blues!v:0.115!c:0.164!s:o23dhy!f:il!i:0.30.png);
            align-items: cover;
            align-content: space-around;
            margin-left: 15px;
            flex-basis: content;
            padding: 25px;
            margin: 25px;
        }
        
            .uno {
                display: flex;
                flex: 1 1 auto;
                text-align: center;
                margin-top: 1%;
                order: 1;
                padding-left: 130px;
                
            }
            .dos {
                display: flex;
                flex: 1 1 auto;
                text-align: center;
                margin-top: 1%;
                order: 2;
            }
            .tres {
                display: flex;
                flex: 1 1 auto;
                text-align: center;
                margin-top: 1%;
                order: 3;
            }
            .cuatro {
                display: flex;
                flex: 1 1 auto;
                text-align: center;
                margin-top: 1%;
                order: 4;
            }

            
    .section {
        display: flex;
        flex-direction: row wrap;
        width: 100%;
        height: 100%;
        

        
    }
        .producto {
            
            display: flex block;
            justify-content: flex-start;
            align-content: left; 
            flex: 2 1 auto;
            flex-direction: column wrap;
            height: 500px;
            width: 500px;
           
        }
            .articulos {
                display: flex;
                flex: 1 1 auto;
                align-items: stretch;
                flex-wrap: wrap;
                flex-direction: column wrap;
                
                
            }

            .form-action {
                padding: 600px;
                box-sizing: border-box;
                border-color: black;
                display: flex;
                flex-wrap: wrap;
                bottom: 0;
                flex-direction: column wrap;
                justify-content: center;
                
            }

            button {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                display: flex;
                flex-wrap: wrap; 
                margin-bottom: auto;
                flex-direction: column wrap;
                justify-content: center;
                width: 250px;
                box-shadow: lightslategray;
               
            }  
        

        .aside {
            display: flex wrap;
            flex-direction: column;
            background-image: url("/flexbox/Botiga Flexbox/imagenes/estrellasconjunto.jpeg");
            background-repeat: no-repeat;
            border: solid;
            width: 1220px;
            height: 1000px;
            float: center;
            flex: 1 1 auto;
            font-size: 50px;
        }
            
        h1 {
            font-size: 50px;
            color: white;
            display: flex;
            justify-content: center;
            margin-top: 30px;
            
        }
    .footer {
        background:black;
        display: flex;
        justify-content: center;
    }

   

        h5 {
            color: white;
            font-size: 12px;
            letter-spacing: 5px;
        }
@media all and (max-width: 800px) {
    .section {
        display: flex;
        flex-direction: column wrap;
    }
    .menu {
        display: flex;
        flex-direction: column wrap;
        height: auto;
    }
    .aside {
        display: flex;
        flex-direction: column wrap;
        justify-content: auto;

    }
    video {
        display: flex;
        aspect-ratio: 16/9;

    }
    .menu1 .menu2 {
        display: flex;
        font-size: large;

    }
}

@media all and (max-width: 600px) {
    .articulos {
        display: flex;
        flex-direction: column wrap;  
    }
    .video {
        display: flex;

    }
    .menu1 .menu2 {
        display: flex;
        font-size: medium;
        float: inline-start;
    }
}

@media all and (max-width: 400px) {
    .aside {
        display: flex;
        flex-direction: column left;
        height: auto;

    }
    .articulos {
        display: flex;
        flex-direction: column;
        height: auto;

    }
    .video {
        aspect-ratio: 8/4;
        display: flex;
        width: 100%;
        height: auto;
       

    }
    .menu1 {
        display: flex;
        font-size: small;
        align-items: left;
    }
}