#primero {
    border: solid black;
    width: 100%;
    text-align: left;

}

#segundo {
    border: solid black;
    width: 50%;
    text-align: right;
    clear: both;
    margin-left: 400px;

}

#tercero {
    border: solid green;
    width: 30%;
    text-align: left;
    float: right;

}



